<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
        <meta charset="utf-8">
        <title>PEA Smart Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="PEA Smart Home" name="description">
        <meta content="" name="author">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
		<link href="/static/newassets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css">
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/newassets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css">
        <link href="/static/newassets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/newassets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color">
        <link href="/static/newassets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css">

        <link href="/static/newassets/custom/font/flaticon.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/custom/custom.css" rel="stylesheet" type="text/css">
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico"> <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>

      </head>
    <!-- END HEAD -->

    <body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed">
        <!-- BEGIN HEADER -->
        {% include 'top_nav.html' %}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include 'sidebar.html' %}
			
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height: 981px;">
                    <!-- BEGIN page_breadcrumb -->
                    {% include 'page_breadcrumb.html' %}
                    <!-- END page_breadcrumb -->
                    <br>
                    
					<div class="row">
						<div class="col-md-12">
							<div class="portlet light portlet-fit portlet-form bordered">
								<div class="portlet-title">
									<div class="caption">
										<span class="caption-subject font-blue sbold">User Settings</span>
									</div>

								</div>
								<div class="portlet-body">
									<!-- BEGIN FORM-->
									<form action="#" id="form_sample_1" class="form-horizontal">
										<div class="form-body">

											<div class="form-group">
											  <label class="control-label col-md-3">Profile picture
											  </label>
											  <div class="col-md-4">
												<div class="fileinput fileinput-new" data-provides="fileinput" style="text-align:center">
													<div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
														<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" /> </div>
													<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>

													  <div>  <span class="btn default btn-file" style=>
															<span class="fileinput-new"> Select image </span>
															<span class="fileinput-exists"> Change </span>
															<input type="file" name="..."> </span>
														<a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
													  </div>
												</div>
</div>
											</div>

											<div class="form-group">
												<label class="control-label col-md-3">First Name
												</label>
												<div class="col-md-4">
													<input type="text" name="firstname" data-required="1" class="form-control" /> </div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Last Name
												</label>
												<div class="col-md-4">
													<input name="lastname" type="text" class="form-control" /> </div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Gender
												</label>
												<div class="col-md-4">
													<input name="gender" type="text" class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Birthday
												</label>
												<div class="col-md-4">
													<input name="birthday" type="text" class="form-control" /> </div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">E-mail
												</label>
												<div class="col-md-4">
													<input name="email" type="text" class="form-control" /> </div>
											</div>
											<div class="form-group">
												<label class="control-label col-md-3">Username
												</label>
												<div class="col-md-4">
													<input name="username" type="text" class="form-control" />
												</div>
											</div>


										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-offset-3 col-md-9">
													<button type="submit" class="btn green">Save Changes</button>
													<button type="button" class="btn grey-salsa btn-outline">Cancel</button>
												</div>
											</div>
										</div>
									</form>
									<!-- END FORM-->
								</div>
							</div>
						</div>
					</div>
					
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!--[if lt IE 9]>
<script src="/static/newassets/global/plugins/respond.min.js"></script>
<script src="/static/newassets/global/plugins/excanvas.min.js"></script>
<script src="/static/newassets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/newassets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/newassets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/newassets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/newassets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->

		<script type="text/javascript">
			window.onload = function () {
				setValue();
                pb_update();
                update_Username("admin");
			  }
		</script>
        <script type="text/javascript" src="/static/app_js/current_update.js"></script>
        <script>
            function setValue() {
            //User Information
            update_Username("admin");
            //Current Rate
            update_Cur_rate("4.32");
            }
        </script>
         <script>
            function pb_update() {
            var str = "<li><i class='fa fa-angle-right'></i><a href='#'>Setting</a></li>";
            str = str + "<li><i class='fa fa-angle-right'></i><a href='#'<span>User Setting</span></li><a></li>";
            $('.page-breadcrumb').append(str);
            }
            function update_Username(Username) {
            $("#Username").text(String(Username));
          }
        </script>

   </body>

</html>
