<!-- BEGIN Page-Breadcrumb -->
<div class="row"  style="background-color: white;padding:10px 0px 10px 0px;margin-left:0px;margin-right:0px">
    <!--BEGIN Left Col-->
    <div class="col-md-4 col-sm-4 col-xs-12">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="/">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span id="pb_2" class="info_bar_site_path">Name Page</span>
            </li>
        </ul>
    </div>
    <!--END Left Col-->

    <!--BEGIN Right Col-->
    <div class="col-md-8 col-sm-8 hidden-xs font-blue" style="text-align:right">
        <i class="fa fa-money"></i><span> Current Rate: </span>
        <b><span id="Cur_rate" class="info_bar_current_update"> </span></b><span> THB/kWh  </span>

        <span class="font-grey-gallery"><i class="fa fa-calendar"></i>
        <span class="current_time"> </span>
    </div>
    <!--END Right Col-->

</div>
<!-- END Page-Breadcrumb -->



