<!-- BEGIN PORTLET-->
<div class="portlet light bordered">
	<!--BEGIN Tab-Header-->
	<div class="portlet-title tabbable-line">
		<div class="caption">
			<i class="icon-bar-chart font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase">Load Devices</span>
		</div>
	</div>
	<!--END Tab-Header-->
	<!--BEGIN Tab-Content-->
	<div class="portlet-body">
		<div class="tab-content">
			<!--BEGIN All Load Devices Status-->

			<div class="scroller">
				<div class="widget-thumb widget-bg-color-white  margin-bottom-20 bordered" style="padding: 0;">

					<!--BEGIN Lighting Load Status-->
					<a href="/light/0017881cab4b">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/lighting.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Lighting</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash""></i>
                                            <span id = "SidN_Power_Lighting"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Lighting"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Lighting_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Lighting">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Lighting Load Status-->

					<!--BEGIN A/C_LivingRoom_01 Load Status-->
					<a href="/airconditioner/20000000000001">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Living Room 01</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id = "SidN_Power_Air1"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Air1"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Air1_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Air1">On
                                        </span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_LivingRoom_01 Load Status-->

					<!--BEGIN A/C_LivingRoom_02 Load Status-->
					<a href="/airconditioner/20000000000002">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Living Room 02</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id = "SidN_Power_Air2"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Air2"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Air2_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Air2">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_LivingRoom_02 Load Status-->

					<!--BEGIN A/C_BedRoom Load Status-->
					<a href="/airconditioner/20000000000003">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Bed Room</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Air3"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Air3"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Air3_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Air3">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_BedRoom Load Status-->

					<!--BEGIN TV Status-->
					<a href="/tv/221445K1200137">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/tv.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">TV</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Tv"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Tv"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Tv_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Tv">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END TV Status-->

					<!--BEGIN Fan_01 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 01</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Fan1"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id ="SidN_Time_Fan1"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Fan1_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Fan1">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_01 Status-->

					<!--BEGIN Fan_2 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 02</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id = "SidN_Power_Fan2"> 15.59</span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Fan2"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Fan2_icon" class="fa fa-power-off"></i>
                                    </div>
									<div  style="text-align: center;">
                                        <span id ="SidN_Sw_Fan2">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_02 Status-->

					<!--BEGIN Fan_3 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 03</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Fan3"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Fan3"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Fan3_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Fan3">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_03 Status-->

					<!--BEGIN Refrigerator Status-->
					<a href="/refrigerator/221445K1200111">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/refrigerator.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Refrigerator</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id = "SidN_Power_Refrigerator"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Refrigerator"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Refrigerator_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Refrigerator">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Refrigerator Status-->

					<!--BEGIN EV Car Status-->
					<a href="/plug/221445K1200321">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/ev.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Electric Vehicle</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id = "SidN_Power_Ev"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id = "SidN_Time_Ev"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Ev_icon" class="fa fa-power-off"></i>
                                    </div>
									<div  style="text-align: center;">
                                        <span id ="SidN_Sw_Ev">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END EV Car Status-->

					<!--BEGIN Speaker SONOS Status-->
					<a href="/speaker/5CAAFD4F8150">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/speaker.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Speaker SONOS</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Sonos"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id ="SidN_Time_Sonos"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Sonos_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Sonos" >On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Speaker SONOS Status-->

					<!--BEGIN KMITL Plug Status-->
					<a href="/plug/5CAAFD4F8150">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/plug.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">KMITL Smart Plug</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Kmitlplug"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id ="SidN_Time_Kmitlplug"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Kmitlplug_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Kmitlplug">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END KMITL Plug Status-->

					<!--BEGIN Set top box Status-->
					<a href="/plug/221520K010067C">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/plug.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Set top box</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Topbox"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id ="SidN_Time_Topbox"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Topbox_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Topbox" >On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Set top box Status-->

					<!--BEGIN Computer Server Status-->
					<a href="/plug/221418K120031E">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/plug.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Computer</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i>
                                            <span id ="SidN_Power_Computer"> 15.59 </span> W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i>
                                            <span id ="SidN_Time_Computer"> 7 h 15 min ago </span>
                                        </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br>
                                        <i id ="SidN_Sw_Computer_icon" class="fa fa-power-off"></i>
                                    </div>
									<div style="text-align: center;">
                                        <span id ="SidN_Sw_Computer">On</span>
                                    </div>
								</div>
							</div>

						</div>
					</a>
					<!--END Computer Server Status-->

					<!--&lt;!&ndash;BEGIN Multi-Sensor Status&ndash;&gt;-->
					<!--<a href="/multisensor/221445K1200132">-->
						<!--<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">-->

							<!--<div class="col-lg-10 col-sm-10 col-xs-10">-->
								<!--<span class="info-box-icon" style="background-color: white">-->
									<!--<img class="img-responsive" src="../../static/images/icon-png/sensor.png">-->
								<!--</span>-->
								<!--<div class="info-box-content ">-->
									<!--<div class="device-name">Multi-Sensor</div>-->
									<!--<div class="device-consumption ">-->
										<!--<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>-->
										<!--<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="col-lg-2 col-sm-2 col-xs-2">-->
								<!--<div class="float_r">-->
									<!--<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>-->
									<!--<div style="text-align: center;"> On</div>-->
								<!--</div>-->
							<!--</div>-->

						<!--</div>-->
					<!--</a>-->
					<!--&lt;!&ndash;END Multi-Sensor Status&ndash;&gt;-->

					<!--&lt;!&ndash;BEGIN Power Meter Status&ndash;&gt;-->
					<!--<a href="/powermeter/7CDD90A2EF00">-->
						<!--<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">-->

							<!--<div class="col-lg-10 col-sm-10 col-xs-10">-->
								<!--<span class="info-box-icon" style="background-color: white">-->
									<!--<img class="img-responsive" src="../../static/images/icon-png/lighting.png">-->
								<!--</span>-->
								<!--<div class="info-box-content ">-->
									<!--<div class="device-name">Power Meter</div>-->
									<!--<div class="device-consumption ">-->
										<!--<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>-->
										<!--<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="col-lg-2 col-sm-2 col-xs-2">-->
								<!--<div class="float_r">-->
									<!--<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>-->
									<!--<div style="text-align: center;"> On</div>-->
								<!--</div>-->
							<!--</div>-->

						<!--</div>-->
					<!--</a>-->
					<!--&lt;!&ndash;END Power Meter Status&ndash;&gt;-->
				</div>
			</div>
			<!--END All Load Devices Status-->
			<!--BEGIN Add Load Devices-->
			<div class="add-device-form">
				<a href="/adddevices">
					<span><i class="fa fa-plus-circle"></i></span>
					<span class="add-text">Add New Device</span>
				</a>
			</div>
			<!--END Add Load Devices-->
		</div>
	</div>
	<!--END Content-->
</div>
<!-- END PORTLET-->