<!-- BEGIN PORTLET-->
<div class="portlet light bordered">
	<!--BEGIN Tab-Header-->
	<div class="portlet-title tabbable-line">
		<div class="caption">
			<i class="icon-bar-chart font-dark hide"></i>
			<span class="caption-subject font-dark bold uppercase">Load Devices</span>
		</div>
	</div>
	<!--END Tab-Header-->
	<!--BEGIN Tab-Content-->
	<div class="portlet-body">
		<div class="tab-content">
			<!--BEGIN All Load Devices Status-->

			<div class="scroller">
				<div class="widget-thumb widget-bg-color-white  margin-bottom-20 bordered" style="padding: 0;">

					<!--BEGIN Lighting Load Status-->
					<a href="/light/0017881cab4b">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/lighting.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Lighting</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash""></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r" id="sw_status_Lighting" name="sw_status_Lighting">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;">On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Lighting Load Status-->

					<!--BEGIN A/C_LivingRoom_01 Load Status-->
					<a href="/airconditioner/20000000000001">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Living Room 01</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_LivingRoom_01 Load Status-->

					<!--BEGIN A/C_LivingRoom_02 Load Status-->
					<a href="/airconditioner/20000000000002">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Living Room 02</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_LivingRoom_02 Load Status-->

					<!--BEGIN A/C_BedRoom Load Status-->
					<a href="/airconditioner/20000000000003">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/air-conditioner.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">A/C Bed Room</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END A/C_BedRoom Load Status-->

					<!--BEGIN TV Status-->
					<a href="/tv/221445K1200137">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/tv.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">TV</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END TV Status-->

					<!--BEGIN Fan_01 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 01</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_01 Status-->

					<!--BEGIN Fan_2 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 02</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_02 Status-->

					<!--BEGIN Fan_3 Status-->
					<a href="/fan/221445K1200138">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/fan.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Standing Fan 03</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Fan_03 Status-->

					<!--BEGIN Refrigerator Status-->
					<a href="/refrigerator/221445K1200111">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/refrigerator.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Refrigerator</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Refrigerator Status-->

					<!--BEGIN EV Car Status-->
					<a href="/plug/221445K1200321">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/ev.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Electric Vehicle</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END EV Car Status-->

					<!--BEGIN Speaker SONOS Status-->
					<a href="/speaker/5CAAFD4F8150">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/speaker.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Speaker SONOS</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Speaker SONOS Status-->

					<!--BEGIN Multi-Sensor Status-->
					<a href="/multisensor/221445K1200132">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/sensor.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Multi-Sensor</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Multi-Sensor Status-->

					<!--BEGIN Power Meter Status-->
					<a href="/plug/20000000000001">
						<div class="widget-thumb-wrap" style=" padding-top: 15px; border-bottom: #EEE 1px solid;">

							<div class="col-lg-10 col-sm-10 col-xs-10">
								<span class="info-box-icon" style="background-color: white">
									<img class="img-responsive" src="../../static/images/icon-png/lighting.png">
								</span>
								<div class="info-box-content ">
									<div class="device-name">Power Meter</div>
									<div class="device-consumption ">
										<div class="device-watt"><i class="fa fa-flash"></i> 15.59 W </div>
										<div class="device-hour-usage "><i class="fa fa-clock-o"></i> 7 h 15 min ago </div>
									</div>
								</div>
							</div>

							<div class="col-lg-2 col-sm-2 col-xs-2">
								<div class="float_r">
									<div class="device-btt-status"><br><i class="fa fa-power-off"></i></div>
									<div style="text-align: center;"> On</div>
								</div>
							</div>

						</div>
					</a>
					<!--END Power Meter Status-->
				</div>
			</div>
			<!--END All Load Devices Status-->
			<!--BEGIN Add Load Devices-->
			<div class="add-device-form">
				<a href="/adddevices">
					<span><i class="fa fa-plus-circle"></i></span>
					<span class="add-text">Add New Device</span>
				</a>
			</div>
			<!--END Add Load Devices-->
		</div>
	</div>
	<!--END Content-->
</div>
<!-- END PORTLET-->