<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar navbar-collapse collapse{% if '/all_devices/' in request.path or '/devices/' in request.path or '/add_device/' in request.path %} page-sidebar-menu-closed{% endif %}">
		<!-- BEGIN SIDEBAR MENU -->
		<ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<li class="nav-item{% if request.path == '/' or request.path == '/home/' %} active open{% endif %}">
				<a href="/" class="nav-link nav-toggle">
					<i class="icon-home"></i>
					<span class="title">Dashboard</span>
					<span class="selected"></span>
					<span class="arrow open"></span>
				</a>
			</li>
			<li class="nav-item{% if '/all_devices/' in request.path or '/devices/' in request.path or '/add_device/' in request.path %} active open{% endif %}">
				<a href="/all_devices/999" class="nav-link nav-toggle">
					<i class="icon-bulb"></i>
					<span class="title">Devices</span>
					<span class="arrow"></span>
				</a>
			</li>
			<li class="nav-item{% if request.path == '/statistics/' or request.path == '/load_statistics/' %} active open{% endif %}">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-graph"></i>
					<span class="title">Statistics</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu" style="display: none;">
					<li class="nav-item{% if request.path == '/statistics/' %} active open{% endif %}">
						<a href="/statistics" class="nav-link ">
							<span class="title">Consumption</span>
						</a>
					</li>
					<li class="nav-item{% if request.path == '/load_statistics/' %} active open{% endif %}">
						<a href="/load_statistics" class="nav-link ">
							<span class="title">Load</span>
						</a>
					</li>
				</ul>
			</li>
			{% ifequal request.user.get_profile.group.name|lower 'zone manager' %}
			<li class="nav-item{% if request.path == '/user_settings/' %} active open{% endif %}">
				<a href="/user_settings" class="nav-link nav-toggle">
					<i class="icon-settings"></i>
					<span class="title">User Settings</span>
					<span class="arrow"></span>
				</a>
			</li>
			{% endifequal %}
			{% ifequal request.user.get_profile.group.name|lower 'admin' %}
			<li class="nav-item{% if request.path == '/user_settings/' or request.path == '/home_settings/' or request.path == '/usr_mngr/' %} active open{% endif %}">
				<a href="javascript:;" class="nav-link nav-toggle">
					<i class="icon-settings"></i>
					<span class="title">Settings</span>
					<span class="arrow"></span>
				</a>
				<ul class="sub-menu" style="display: none;">
					<li class="nav-item{% if request.path == '/user_settings/' %} active open{% endif %}">
						<a href="/user_settings" class="nav-link ">
							<span class="title">User Settings</span>
						</a>
					</li>
					<li class="nav-item{% if request.path == '/home_settings/' %} active open{% endif %}">
						<a href="/home_settings" class="nav-link ">
							<span class="title">Home Settings</span>
						</a>
					</li>
					<li class="nav-item{% if request.path == '/usr_mngr/' %} active open{% endif %}">
						<a href="/usr_mngr" class="nav-link ">
							<span class="title">Manage Users</span>
						</a>
					</li>
				</ul>
			</li>
			{% endifequal %}
			<li class="nav-item">
				<a href="/logout" class="nav-link nav-toggle">
					<i class="icon-logout"></i>
					<span class="title">Logout</span>
					<span class="arrow"></span>
				</a>
			</li>
		</ul>
		<!-- END SIDEBAR MENU -->
	</div>
	<!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->