<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
        <meta charset="utf-8">
        <title>PEA Smart Home</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta content="PEA Smart Home" name="description">
        <meta content="" name="author">
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
		<link href="/static/newassets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/newassets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="/static/newassets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css">
        <link href="/static/newassets/global/css/plugins.min.css" rel="stylesheet" type="text/css">
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="/static/newassets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/layouts/layout4/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color">
        <link href="/static/newassets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css">

        <link href="/static/newassets/custom/font/flaticon.css" rel="stylesheet" type="text/css">
        <link href="/static/newassets/custom/custom.css" rel="stylesheet" type="text/css">
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico"> <style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>

    <script>
    function setValue() {
  //User Information
  update_Username("admin");

  //Current Rate
  update_Cur_rate("4.32");
}
    </script>

</head>
<!-- END HEAD -->

    <body class="page-container-bg-solid page-sidebar-closed-hide-logo page-header-fixed">
        <!-- BEGIN HEADER -->
        {% include 'top_nav.html' %}
        <!-- END HEADER -->
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            {% include 'sidebar.html' %}
			
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content" style="min-height: 981px;">
                    <!-- BEGIN page_breadcrumb -->
                    {% include 'page_breadcrumb.html' %}
                    <!-- END page_breadcrumb -->
                    <br>
                    
					<div class="row">
                        <div class="col-md-12">

                            <div class="portlet light bordered" id="form_wizard_1">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <span class="caption-subject bold">Add devices
                                            <span class="step-title"> Step 1 of 6 </span>
                                        </span>
                                    </div>

                                </div>
                                <div class="portlet-body form">
                                    <form class="form-horizontal" action="#" id="submit_form" method="POST">
                                        <div class="form-wizard">
                                            <div class="form-body">
                                                <ul class="nav nav-pills nav-justified steps">
                                                    <li>
                                                        <a href="#tab1" data-toggle="tab" class="step">
                                                            <span class="number"> 1 </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> Choose appliance type </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab2" data-toggle="tab" class="step">
                                                            <span class="number"> 2 </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> Choose appliance model </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab3" data-toggle="tab" class="step">
                                                            <span class="number"> 3 </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> Physical Setup </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab4" data-toggle="tab" class="step active">
                                                            <span class="number"> 4 </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> Select device <br>from list </span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab5" data-toggle="tab" class="step">
                                                            <span class="number"> 5 </span>
                                                            <br>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i> Verify  </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab6" data-toggle="tab" class="step">
                                                            <span class="number"> 6 </span>
                                                            <span class="desc">
                                                                <i class="fa fa-check"></i>Set name<br> Set connected apppliance</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div id="bar" class="progress progress-striped" role="progressbar">
                                                    <div class="progress-bar progress-bar-success"> </div>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="alert alert-danger display-none">
                                                        <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                                    <div class="alert alert-success display-none">
                                                        <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                                    <div class="tab-pane active" id="tab1">
                                                        <h3 class="block">Choose your appliance type</h3>
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
																	<a href="javascript:;" class="btn btn-lg btn-outline green button-next" id="Light"> Light
																	  <i class="fa fa-lightbulb-o"></i>
																	</a>
                                                              </div>
                                                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
																	<a href="javascript:;" class="btn btn-lg btn-outline green button-next" id="Plug"> Plug
																		<i class="fa fa-plug"></i>
																	</a>
                                                              </div>
                                                              <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
																	<a href="javascript:;" class="btn  btn-lg btn-outline green button-next" id="Air_Conditioner"> Air Conditioner
																		<i class="fa fa-cog"></i>
																	</a>
                                                              </div>
                                                        </div>
                                                      </div>



                                                    </div>
                                                    <div class="tab-pane" id="tab2">
                                                        <h3 class="block">Choose model</h3>
                                                            <div class="row" id="modelListBody">

                                                          </div>
                                                          <a href="javascript:;" class="btn default button-previous">
                                                              <i class="fa fa-angle-left"></i> Back </a>
                                                    </div>


                                                    <div class="tab-pane" id="tab3">
                                                        <h3 class="block">Physical Setup</h3>
                                                          <div class="portlet light portlet-fit bordered">
                                                              <div class="portlet-body">
                                                                  <div class="row">
                                                                    <div class="col-xs-12" id="setupBody">
                                                                    </div>
                                                                  </div>
                                                              </div>
                                                          </div>

                                                        <a href="javascript:;" class="btn default button-previous">
                                                            <i class="fa fa-angle-left"></i> Back </a>
                                                        <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>


                                                    </div>
                                                    <div class="tab-pane" id="tab4">
                                                        <h3 class="block">Select device from list</h3>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                                                <div class="portlet light portlet-fit bordered">

                                                                    <div class="portlet-body">

                                                                        <table class="table table-striped table-hover table-bordered" id="datatable_ajax">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th> Name </th>
                                                                                    <th> Mac Address </th>
                                                                                    <th> Add </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td> alex </td>
                                                                                    <td> Alex Nilson </td>
                                                                                    <td>
                                                                                        <a class="btn green btn-xs add" href="javascript:;"> Approve </a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- END EXAMPLE TABLE PORTLET-->
                                                            </div>
                                                        </div>
                                                        <a href="javascript:;" class="btn default button-previous">
                                                            <i class="fa fa-angle-left"></i> Back </a>



                                                    </div>
                                                    <div class="tab-pane" id="tab5">
                                                        <h3 class="block">Verify </h3>
                                                        <a href="javascript:;" class="btn default button-previous">
                                                            <i class="fa fa-angle-left"></i> Back </a>
                                                        <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>


                                                    </div>
                                                    <div class="tab-pane" id="tab6">
                                                        <h3 class="block">Set name and set connected appliance</h3>
                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Name:</label>
                                                            <div class="col-md-4">
                                                              <input type="text" class="form-control" name="name" />
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label col-md-3">Connected appliance:</label>
                                                            <div class="col-md-4">
                                                                <input type="text" class="form-control" name="conappliance" />
                                                            </div>
                                                        </div>
                                                        <a href="javascript:;" class="btn default button-previous">
                                                            <i class="fa fa-angle-left"></i> Back </a>
                                                        <a href="javascript:;" class="btn green button-submit"> Submit
                                                            <i class="fa fa-check"></i>
                                                        </a>


                                                    </div>
                                                </div>
                                            </div>
                                            <!--
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <a href="javascript:;" class="btn default button-previous">
                                                            <i class="fa fa-angle-left"></i> Back </a>
                                                        <a href="javascript:;" class="btn btn-outline green button-next"> Continue
                                                            <i class="fa fa-angle-right"></i>
                                                        </a>
                                                        <a href="javascript:;" class="btn green button-submit"> Submit
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                          -->
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
					
                </div>
                <!-- END CONTENT BODY -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END CONTAINER -->
        <!--[if lt IE 9]>
<script src="/static/newassets/global/plugins/respond.min.js"></script>
<script src="/static/newassets/global/plugins/excanvas.min.js"></script>
<script src="/static/newassets/global/plugins/ie8.fix.min.js"></script>
<![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="/static/newassets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="/static/newassets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
		<script src="/static/newassets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="/static/newassets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
		<script src="/static/newassets/pages/scripts/form-wizard.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="/static/newassets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script src="/static/newassets/layouts/global/scripts/quick-nav.min.js" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        <script type="text/javascript" src="/static/app_js/home_dash.js"></script>

		<script type="text/javascript">
			window.onload = function () {
				setValue();
			  }
		</script>

		<script>
        //$("#sample_editable_1").datatable();
        modelList = [
                    	{
                        name: "Philips Hue",
                        type: "Light",
                        image: "/static/images/devices/light/hues.jpg",
                        manual: [
                      		"Screw the bulbs into your existing light fittings and turn on your wall light switches.",
                      		"Plug in the hue bridge & connect to your Wi-Fi router.",
                      		"Download the application. Connect to the bridge. Follow instructions.<br>Find your lights in Application. And there you have it, you've got Philips Hue.",
                          "Discovery new Bulbs in Devices Page in PEA Smart Home Web Application.<br>Find your lights in Application. And there you have it, you've got Philips Hue."
                      	]
                      },

                    	{
                        name: "belkin wemo plug",
                        type: "Plug",
                        image: "/static/images/wemo_plug.png",
                        manual: [
                      		"Plug the switch into an outlet in your home.",
                      		"Download WeMo application and follow instructions for connect new device to your Wi-Fi router.",
                      		"Discovery new plug in devices page in PEA Smart Home Web application."
                    	  ]
                      },
                    ]
        devices =[
                  {
                    name : "Philips Hue" ,
                    mac_address : "12:34:56:78"

                  },
                  {
                    name : "Philips Hue" ,
                    mac_address : "12:34:56:79"

                  },
                  {
                    name : "belkin" ,
                    mac_address : "12:34:56:77"

                  }

        ]
        </script>

   </body>

</html>